<!--component html goes here -->
<div class="panel panel-default side-panels users-list wrapper">
    <div class="panel-heading">Users</div>
    <div class="panel-body fill">
        <ul class="list-group">
            <li *ngFor="let user of users"  class="list-group-item"><i class="glyphicon glyphicon-user"></i> {{user.userName}}</li>
        </ul>
    </div>
    <div class="actions">
        <div class="center-of-block">
            <div>
                <h5>You sign in as {{currentUser.userName}}</h5>
                <button (click)="signOut()" class="btn btn-default sign-out">Sign out</button>
            </div>
        </div>
    </div>
</div>