<div class="card wrapper">
    <!-- <audio #audioNotification src="dist\webclient\assets\sms.mp3"></audio> -->
    <div class="card-header">Chat</div>
    <div class="card-body chat-container fill">
        <div (scroll)="onScroll()" #scroll class="chat">
            <message-desktop *ngFor="let message of (messages$ | async)" [setMessage]="message"></message-desktop>
        </div>
    </div>
    <div class="writing-info">
        <typing-informator-desktop></typing-informator-desktop>
    </div>
    <div class="actions">
        <message-form-desktop></message-form-desktop>
    </div>
</div>