<div class="panel panel-default side-panels wrapper">
    <div class="panel-heading">Rooms</div>
    <div class="panel-body fill">
        <div class="rooms-list">
            <div class="btn-group-vertical">
                <button *ngFor="let room of (rooms$ | async)" [ngClass]="{'currentRoom': room.id === (currentRoom$ | async).id}" class="btn btn-default"  (click)="changeRoom(room.id)">{{room.name}}</button>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="center-of-block">
            <div>
                <button (click)="openModal()" href="#openModal" class="btn btn-default">Create room</button>
                <modal (onClose)="closeModal()" (onCreate)="createRoom($event)" *ngIf="isModalOpened"></modal>
            </div>
        </div>
    </div>
</div>