<div class="center-of-block">
    <div class="container chat-page">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <rooms-list></rooms-list>
            </div>
            <ng-container *ngIf="isInRoom; else chat">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <chat-box></chat-box>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <users-list></users-list>
                </div>
            </ng-container>
            <ng-template #chat>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="panel panel-default wrapper">
                        <div class="center-of-block">
                                <h1>You sign in as "{{currentUser.userName}}". Please, enter to existing room or create own!</h1>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="isConnectionExist" class="modalDialog">
    <div class="center-of-block">
        <div>
            <h1>Сonnection to the server...</h1>
        </div>
    </div>
</div>