.side-panels{
    height: 100%;
    width: 100%;
}

@media (max-width: 768px){
    .col-sm-3{
margin: 20px 0px 20px 0px;
}
}

.separator{
    border-top: 2px solid #3d82bb;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modalDialog {
	display: block;
	pointer-events: auto;
}

.modalDialog > div > div {
	position: relative;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}